html, body, #app, #root {
    height: 100%;
    margin: 0;
}

html {
    overflow-y: scroll;
}

body {
    font-family: 'Roboto', sans-serif;
    color: black;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
}
#search {
    background: url('../images/balrog.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100%;
    position: relative;
    z-index: 2;
}

#searchtext {
    width: 80%;
    height: 2.5%;
}

#searchbox {
    /*height: 2.5%;*/
}

#search_container {
    background: rgba(31, 31, 31, .35);
    text-align: center;
    /*position: relative;*/
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 20em;
    max-width: 50rem;
    vertical-align: middle;
    /*margin: 10em auto auto;*/
    margin: auto;
    width: 80%;
    z-index: 1;
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
}

#section {
    padding:1.5rem;
    margin:0 auto;
    position: relative;
    text-align: center;
    vertical-align: middle;
}

.query {
    color: white;
    font-size: 2.5em;
}

.submit {
    position:relative;
    padding:6px 15px;
    left:-8px;
    color:#fafafa;
}

#content {
    background-color: #F5F5F5;
    bottom: 0;
    position: absolute;
    /*position: relative;*/
    max-height: 40%;
    width: 100%;
    z-index: 2;
}

#cards {
    margin: 0 auto;
    max-width: 50em;
    height: 100%;
}

.card {
    padding:0.3rem;
    background-color: white;
    margin: 0 1rem 1em;
}

.book_chap {
    font-size: 1.2em;
}

.paragraphs {
    font-size: 0.9em;
}

.results_found {
    text-align: center;
    margin-bottom: 1em;
    margin-top: 1em;
}

.prev {
    margin-top: 0.9em;
}

.curr {
    margin-top: 1.2em;
    margin-bottom: 1.2em;
}

.next {
    /*margin-bottom: 0.9em;*/
}

.load_more{
    text-align: center;
    /*margin-bottom: 2em;*/
    margin-top: 1em;
}

.clickable {
    cursor: pointer;
}

#footer {
    text-align: center;
    font-size: 0.8em;
    color: #999;
    text-decoration: none;
}

#footer a {
    text-decoration: none;
    color: #999;
}

#footer a:hover {
    text-decoration: none;
    color: #666;
}

#footer a:visited {
    text-decoration: none;
    color: #999;
}